@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}
body, html{
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}
header{
    background-color: gray;
}
header h1 {
    color: white;
    text-shadow: 1px 1px black;
    padding: 10px;
}
menu {
    /* border: 1px dotted green; */
    margin-bottom: 10px;
    display: flex;
    flex-flow: column wrap;
}

menu > ul > li > a {
    display: block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    text-align: center;
}
menu > ul > li > a:hover{
    background-color: #bababa;
    color: black;
    cursor: pointer;
    padding: 10px;
    transition-duration: .5s;
}
main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.5em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.364);
}
section {
    margin-top: 10px;
}

section h2 {
    margin-bottom: 10px;
}

/* Todas as demais mídias */

/* Typical Device Breakpoints
    Pequenas telas: até 576px
    Celular: de 600px até 768px
    Tablet: 992px até 1200px
    Grandes telas: acima de 1400px
*/

@media (min-width: 640px) {
    menu > ul {
        display: flex;
        flex-flow: row nowrap;
    }
    menu > ul > li > a {
        margin: 8px; 
    }
}

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}
